body{
	text-align: center;
	margin-top: 0em;
	background-image: url("propaganda/portrait.jpg");
}

img{ 
    -moz-animation:2s rotateRight infinite linear; 
    -webkit-animation:2s rotateRight infinite linear; 
}

@-moz-keyframes rotateRight{
    0%{ -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
    100%{ -moz-transform:rotate(360deg); }
}

@-webkit-keyframes rotateRight{
    0%{ -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
    100%{ -webkit-transform:rotate(360deg); }
}

.bigcontainer{
	width: 660px;
	margin: 0 auto;
	margin-top:1.3em;
	padding: 1em;
	background-color: rgba(190,190,190,0.4);
	/*border: 0.1em solid grey;*/
}
.container{
	margin: 0 auto;
	padding: 1em;
	/*width: 600px;*/
	font-family: Helvetica, Arial, sans-serif;
	color: navy;
	border: 0.3em solid red;
	background-color: white;
	background-color: rgba(190,190,190,0.5);
}
#portrait{
	width:40em;
	border-top: 0.3em solid navy;
	border-bottom: 0.3em solid navy;
	border-right: 0.3em solid red;
	border-left: 0.3em solid white;
}
#march{
}
#mymarquee{
	font-family: Impact, Charcoal, sans-serif;
}
#marqcon{
	background-color: rgba(0,0,0,0.2);
}
.para{
	background-color: rgba(255,255,255,0.5);
	font-size: 1.3em;
}
/*
#whitespace{
	background-color:white;
	padding:0;
	margin-left:0;
	margin-right:0;
	height:1em;
}
*/